extends ../../layout

block subhead

block content
  section.padding-sm
    .container
      .row
        .col-md-12.col-sm-12
          center
            img.img-fluid(src='/images/logo-chatterplant.png', alt='...' style="display: block; max-height: 350px; width: auto; height: auto;")       
      .row
        .col-md-12.col-sm-12
          header.mb-20
            h2 What is ChatterPlant?
          p Urban overpopulation, climate change and natural resources decrement are threatening food security. Valencia UPV Team proposes ChatterPlant, a new technological Syn-Bio system to allow plant’s communication, so we can control both their development and behavior making crops more accessible and sustainable. An optogenetic circuit and a genetic AND gate were designed with the intention of working as an interface between plants and humans. Furthermore, we engineered our device ChatterBox, that regulates precisely plant growth conditions while translating plant information into an intelligible one.
          p Human-Plant communication is comprised by our designed optogenetic circuit which is triggered by red/far-red light inducible switch. Since white light in aerial parts could interfere with the circuit signalling, these light stimuli is introduced by illuminating plant’s roots. In addition, circuit's modularity allows to cover almost any users' necessities in order to provide more control over crops. Taking benefit from systemic movement of Flowering locus T protein, we can control the expression of any desired pathway customizing the final element in the system.
          p However, we do not only intend to give orders to plants but also to acquire relevant information from them. Therefore, we generated a second communication channel through a Colour Code System, that allows plants to send us information about their current status (i.g. salt stress, pathogen presence…). We resolved to detect biotic and abiotic stresses using a modular and orthogonal genetic AND gate. Colour changes on plants are triggered by stress-inducible promoter together with a recombinase actuation. Thus, phiC31 recombinase keeps the inducible promoter in OFF state. However, when RDF is expressed by a controlled external stimuli, stress-inducible promoter will turn to the ON state. Then different colours will appear only if the plant is under any kind of stress.
          p In order to achieve that control, we designed ChatterBox with the aim of translating our orders into light stimuli through roots, also tracking plant growth and development. Controlling external factors and regulating plant’s features allow us to increase plant versatility and adaptative capacity. Besides, a detection system is regularly checking for stress signals, so the appropriates actions could be taken accordingly.
          p Moreover, we realized ChatterPlant’s modularity possibilities can be improved by gathering Plant SynBio knowledge. So PlantLabCo is born as a new open-access online platform, which aims to accelerate Plant SynBio progress unifying researchers’ work. Laboratories will publish their experiments’ results helping others to advance their work.  In addition, genetic modelling is not trivial, but nevertheless quite important for research projects. Bearing that in mind, we engineered a modeling software integrated in PlantLabCo. This tool allows the user to visually construct their genetic circuit and easily obtain the deterministic model of it.
          p With ChatterPlant, our team intends to develop a sustainable agriculture. Thus, we aspire to help ensuring food security through human-plant interaction.

block footerJS
