#password.tab-pane.fade.in.active
  form
    .row
      .col-xs-12
        .form-group
          label.control-label Current Password
          input.form-control(type='password' ng-model="pasword.password")
      .col-xs-12
        .form-group
          label.control-label New Password
          input.form-control(type='password' ng-model="pasword.newpassword1")
      .col-xs-12
        .form-group
          label.control-label Re-type New Password
          input.form-control(type='password' ng-model="pasword.newpassword2")
      .col-xs-12
        p(ng-show="flagpassword == true") Password don't match
    .row
      .col-xs-12
        .margiv-top10
          a.btn.btn-primary(style="color:white;" ng-click='changepassword()')
            i.fa.fa-check
            |  Save Changes
          | &nbsp &nbsp
          a.btn.btn-default(ng-click='cancel()') Cancel 
