#provacy.tab-pane.fade.in.active
  form
    .sky-form
      table.table.table-bordered.table-striped
        tbody
          tr
            td I agree to receive notifications
            td
              .inline-group
                label.radio.nomargin-top.nomargin-bottom
                  input(disabled='true' type='radio', name='radioOption1', checked='')
                  i
                  |  No
                label.radio.nomargin-top.nomargin-bottom
                  input(disabled='true' type='radio', name='radioOption1', checked='')
                  i
                  |  Yes
          tr
            td I agree that my data will be stored by PlantLabCo
            td
              .inline-group
                label.radio.nomargin-top.nomargin-bottom
                  input(disabled='true' type='radio', name='radioOption2', checked='')
                  i
                  |  No
                label.radio.nomargin-top.nomargin-bottom
                  input(disabled='true' type='radio', name='radioOption2', checked='')
                  i
                  |  Yes
          tr
            td I agree for my personal data to be shared with other users
            td
              .inline-group
                label.radio.nomargin-top.nomargin-bottom
                  input(disabled='true' type='radio', name='radioOption3', checked='')
                  i
                  |  No
                label.radio.nomargin-top.nomargin-bottom
                  input(disabled='true' type='radio', name='radioOption3', checked='')
                  i
                  |  Yes
    .margin-top-10
      center
        //- a.btn.btn-3d.btn-red(style='min-width: 300px', href='#', ng-click='deleteaccount()') Delete acount

    //- .margin-top-10
      //- a.btn.btn-primary(style="color:white;" ng-click='changepassword()')
      //-   i.fa.fa-check
      //-   |  Save Changes
      //- | &nbsp &nbsp
      //- a.btn.btn-default(ng-click='cancel()') Cancel 
