extends ../../layout

block subhead

block content
  section.padding-sm
    .container
      .row
        .col-md-12.col-sm-12
          center
            img.img-fluid(src='/images/logo-valenciaupv2.png', alt='...'  style="display: block; max-height: 350px; width: auto; height: auto;")       

      .row
        .col-md-12.col-sm-12
          header.mb-20
            h2 About iGEM UPV
          p Valencia UPV iGEM team is a multidisciplinary working group with the aim of developing Plant Synthetic Biology projects. iGEM is an exceptional student competition in Synthetic Biology around the world. Yearly, around 300 teams, which means more than 5600 students, instructors and advisors, gather at Giant Jamboree in Boston in order to share their passion and contribution to SynBio field. During 10 years, iGEM has been encouraging students to work together in order to solve real-world challenges by designing, performing and achieving their own projects over the summer.

          p Since 2006, our team participates at iGEM competition developing innovative and cooperative projects. Additionally, last few years Valencia UPV team was awarded with Gold Medal and several Special Prizes in the competition.
          
      .row
        .col-xs-12
          hr
          br
      .row
        .col-xs-12
          header.mb-20
            h2 Our Projects
            br
      .row
        .col-md-6.col-sm-6.col-xs-12
          .card
            img.card-img-top(src='http://igem.upv.es/assets/images/_smarty/ChatterPlant.png', alt='')
            .card-block
              .text-black.fs-20.mb-20.block ChatterPlant
              p.fs-15.mb-20
                | Everyone want their plants to be as tall, beautiful and fast-growing as possible, to have juicy and tasty fruits and/or to have high yield. However, achieving those goals is difficult since they depend on external and non-controllable factors. Would not it be great if farmers and plant breeders know the exact amount of water or nutrients their plants need? Or control when their crops flower or when fruits are produced?
              p.fs-15.mb-20
                | Bearing that in mind we designed a plant genetic circuit that confers us the ability to communicate with plants. That is, making plants to respond our commands subsequently and t transmit information to us. This is possible thanks to a genetic circuit. We aim to help increasing food security by developing a new and sustainable agriculture. An agriculture that depends less on external factors and more on farmers and plant breeders.
        .col-md-6.col-sm-6.col-xs-12
          .card
            img.card-img-top(src='http://igem.upv.es/assets/images/_smarty/HypeIt.png', alt='')
            .card-block
              .text-black.fs-20.mb-20.block Hype-It
              p.fs-15.mb-20
                | HYPE-IT intends to decrease current technological barriers for breeding local crops with innovative SynBio-technology based on CRISPR/Cas9 tools. The global strategy of HYPE-IT is to increase food productivity and ensure high-quality foodstuff. Furthermore, HYPE-IT incorporates a software tool in order to easily associate specific gene targets with its phenotypic trait. A modular gene circuit is designed to ensure proper performance strategy and an affordable Lab Ware is designed with the necessary laboratory equipment in order to democratize genome engineering.
        .col-md-6.col-sm-6.col-xs-12
          .card
            img.card-img-top(src='http://igem.upv.es/assets/images/_smarty/aladDNA.png', alt='')
            .card-block
              .text-black.fs-20.mb-20.block AlaDNA
              p.fs-15.mb-20
                | Conventional bioproduction methods require huge and specialized infrastructures, difficulting the fulfilment of the manufacturing needs in remote locations. AlaDNA is an innovative genetic design aimed to encode the manufacturing instructions for several bioproducts as genetic information. It is also capable to process this information on demand as single output products in response to the user´s wishes. Just like a genie in a lamp!
              p.fs-15.mb-20
                | This system uses DNA to store information, acting as a miniaturized and flexible biofactory capable of producing different bioproducts. AladDNA can activate the production of different products upon the reception of external signals based on combinations of light stimuli. AlaDNA allows bioproduction in any condition avoiding prohibitive costs due to infrastructures.
        .col-md-6.col-sm-6.col-xs-12
          .card
            img.card-img-top(src='http://igem.upv.es/assets/images/_smarty/SexyPlant.png', alt='')
            .card-block
              .text-black.fs-20.mb-20.block Sexy Plant
              p.fs-15.mb-20
                | Every year, a significant part of the production crops is lost due to pests. Becoming a pest control strategy to reduce economical loss is Sexy Plant’s goal. Sexy Plant is a modified plant which can produce and release different moth pheromones. By releasing them, males cannot find females, so the crop-damaging larvae are not born. Biosafety is a major concern in our project, so we have design a module that avoid its genetic material to spread via pollen. Furthermore, we’ve included a genetic switch which that control the production and release of the pheromones, so we can apply it willingly or when it’s needed.


block footerJS
