extends ../../usuario_basico/layout

block subhead

block navbar
  include ../../usuario_basico/navbar.jade 
    
block content
  section(ng-controller="newsController" ng-init="init()" ng-cloak)
    header#page-header
      h1 Noticias
      ol.breadcrumb
        li Hype-It Toolbox
        li Profile
        li News

    #content.padding-20.container      
      .row(ng-show="posts.length")
        .col-md-8
          include sections/index-left-panel.jade
        .col-md-4
          include sections/index-right-panel.jade
      .row(ng-show="!posts.length")
        .col-xs-6.col-xs-offset-3
          include sections/first-post.jade

block footerJS
  script(type="text/javascript" src="/js/services/news.js")
  script(type="text/javascript" src="/js/controllers/usuario_administrador/news.js")
