#div1 {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
#div2 {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
#div3 {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
