extends ../../layout

block subhead

block content
  section.b-0
    .container
      .row
        .col-lg-4
          .hidden-xs-down.mb-30
            h1.m-0.fs-25 PLANT LAB CO
            h6 JUNE 29, 2017 – PRESENT
          p
            | Are you investigating in a Plant SynBio project and you don’t know if your experiment is going to work properly? 
          .heading-title.heading-border.heading-color.mt-0
            h2.fs-18.fw-400 THE NETWORK FOR PLANT SYNBIO KNWOLEDGE
            p.fs-13 CONNECTING PLANT SYNBIO EXPERIMENTS WITH PLANT SYNBIO RESEARCHERS
          p
            | PlantLabCo was born from this need, and you can save time using the experience of others Plant SynBio researchers, looking at their work in any experiment already registered. You can also foresee the behavior of your project modelling it with our tool.
        .col-lg-8
          .lightbox(data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}')
          img.img-fluid(width="100%" src='/images/ilustracion-plantlabco.jpg', alt='')

          

block footerJS
