extends ../layout

block subhead

block content
  section.page-header.dark.page-header-xs
    .container
      h1 ERROR 404
  section.padding-xlg
    .container
      .row
        .col-md-6.col-sm-6.hidden-xs
          .error-404
            | 404
        .col-md-6.col-sm-6
          h3.nomargin
            | Sorry, 
            strong The page you requested can not be found!
          p.nomargin-top.size-20.font-lato.text-muted Please, search again using more specific keywords.
          // INLINE SEARCH
          .inline-search.clearfix.margin-bottom-60
            form.widget_search(action='', method='get')
              input#s.serch-input(type='search', placeholder='Search...', name='s')
              button(type='submit')
                i.fa.fa-search
              .clear
          // /INLINE SEARCH
          .divider.nomargin-bottom
            // divider
          a.size-16.font-lato(href='/index')
            i.glyphicon.glyphicon-menu-left.margin-right-10.size-12
            |  back to PlantLabCo homepage now!

block footerJS
