footer#footer
  .copyright
    .container
      ul.float-right.m-0.list-inline.mobile-block
        li
          a(ng-click="getURLLogged('terms-and-conditions')") Terms & Conditions
      | 						© All Rights Reserved, PlantLabCo
