extends ../../layout

block subhead

block content
  section.padding-sm
    .container
      .row
        .col-md-12.col-sm-12
          center
            img.img-fluid(src='/images/logo-aboutus.jpg', alt='...' style="display: block; max-height: 350px; width: auto; height: auto;")
      .row
        .col-md-12.col-sm-12
          header.mb-20
            h2 What is our history?
          p One day, a group of students of the Polytechnic University of Valencia were having fun in Valencia (Spain), and one of them said “It would be so cool to be able to speak with plants, right?”, and that sentence was the seed of our project ChatterPlant, with which we represent our university in the iGEM 2017 competition.
          p During the summer, this team, which formed by a group of multidisciplinarity students from computers scientists to graduates of fine arts, going by students of biomedical engineering, agricultural and food engineering, industrial engineering and  biotechnology, have been fighting for the same objective approach to the world a sustainable agriculture based on proximity, accessibility and season-less products, guided all of them by the same values, honesty, respect, cooperation and effort.
          

block footerJS
